* {
    margin: 0;
}

:root {
    --accent: #F27830;
    --green: #658C5A;
    --light: #F2D3AC;
    --dark: #26170F;
    --grey: #9EA09B;
}

body {
    background-color: var(--light);
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.josefin-sans-heading {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .josefin-sans-text {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
